*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(143, 7, 143),rgb(58, 58, 190));
    display: flex;
    align-items: center;
    justify-content: center;
}
.calender{
    background: #fff;
    height: 280px;
    width: 280px;
    border-radius: 20px;
    display: flex;
    align-items: center;

}
.left, .right{
    height: 280px;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.left{
    background: transparent;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
.right{
    background: #ea5151;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 25px;
    font-weight: 500;
    font-size: 1.2rem;
}
#date{
    font-size: 5rem;
    /* font-weight: bold; */
}